<hr>
    <label for="comment"><h2>Feedback Section</h2></label>
    <ul>
    {% for comment in comments %}
        <li> <b>Feedback:-</b>  {{comment.comments}} , <b>Feedback Date:-</b> {{comment.created_at}} </li>
         
    {% endfor %}
    </ul>
    <form action="comment/" method= "POST">
        {% csrf_token %}
        <label for="submit"><b>Add Your Feedback</b></label><br>
        <input type="text" id="comment" name="comment" placeholder = "Add a new comment"><br>
        <input type="hidden" name="prev" value="{{ request.path }}">
        <input type="submit" value="Submit">
    </form>