<!DOCTYPE html>
<html>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
{% if user.is_authenticated %}
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  <hr>

<h3> Search Results:- </h3>

<table>
    {% if article_search %}
    <tr>
        <th>Article Title</th>
        <th>Date of Update</th>
        <th>Click To View</th>
        <th>Click To Edit</th>
    </tr>
    {% endif %}
    {% for item in article_search %}
    <div>
    <tr> 
        <td>{{ item.title }}</td>
        <td>{{ item.updated_at }}</td>
        <td><a href="/article/{{ item.slug }}/">View</a></td>
        <td><a href="/update/{{ item.slug }}/">Click to Edit</a></td>
    </tr>
    </div>
    {% endfor %}

{% else %}
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    <hr>
    <br><br>
    <h3> Search Results:- </h3>

<table>
    {% if article_search %}
    <tr>
        <th>Article Title</th>
        <th>Date of Update</th>
        <th>Click To View</th>
    </tr>
    {% endif %}
    {% for item in article_search %}
    <div>
    <tr> 
        <td>{{ item.title }}</td>
        <td>{{ item.updated_at }}</td>
        <td><a href="/article/{{item.slug}}/">View</a></td>
    </tr>
    </div>
    {% endfor %}
{% endif %}
</table>
</html>