<!DOCTYPE html>
<html>
  {% include 'messages.html' %}
  {% include 'menubar.html' %}
    {% if user.is_authenticated %}
    <hr>
    <form action="save/" method= "POST">
        {% csrf_token %}
      <label for="title">Title</label><br>
      <input type="text" id="title" name="title" value = "{{ user_articles.title }}" required><br>
      <label for="body">Body</label><br>
      <input type="text" id="body" name="body"  value = "{{ user_articles.body}}" required><br>
      <label for="status">Status</label><br>
      <select name="status" id="status" default = {{user_articles.status}} >
      <option value = "publish">Publish</option>
      <option value = "draft">Draft</option>

      </select><br>
      <label for="tags">Tags</label><br>
      <input type="text" id="tags" name="tags" value = "{{ tags }}"><br>
      <input type="hidden" name="prev" value="{{ request.path }}">

      <input type="submit" value="Submit">
    </form>
    {% endif %}
    </html>